<?xml version="1.0" ?>
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Set gazebo flag to ignition -->
  <xacro:arg name="gazebo" default="none"/>

  <xacro:property name="body_cog_x_offset"       value="${2.28*cm2m}" />
  <xacro:property name="caster_position_z"       value="${-5.03*cm2m}" />

    <xacro:property name="spring_stiffness_nm"  value="450"/>
    <xacro:property name="spring_damping"       value="50"/>
    <xacro:property name="spring_friction"      value="0.1"/>

  <!-- Include the standard TurtleBot4 URDF with gazebo set to ignition -->
  <xacro:include filename="$(find turtlebot4_description)/urdf/standard/turtlebot4.urdf.xacro" />
  

<!-- ROS2 Control Transmission for Wheel Joints -->
<ros2_control name="gazebo_ros2_control" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
    <joint name="left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
    </joint>
    <joint name="right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
    </joint>
</ros2_control>
  
  
  <gazebo>
     <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <ros>
        <remapping>/diff_drive_base_controller/odom:=odom</remapping>
        <remapping>/diff_drive_base_controller/tf_odometry:=tf</remapping>
      </ros>
      <parameters>$(find simple_commander)/config/diff_drive_controller.yaml</parameters>
    </plugin>

    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>
  
</robot>
